HTTP_PORT=8093
PEER_PORT=8073
PEER_IP=
PEER_STORAGE=/tmp/storage3
PEER_LIST=/ip4/127.0.0.1/tcp/8073/ipfs/QmdFkk4R5xMXmxjHG9yF3TT26RDHTsNZ4c9gQuqWfrJmGQ,/ip4/127.0.0.1/tcp/8071/ipfs/QmNNaRiG6EJhc1bBdiAved2B2n7GaZUWuJ6Z2VMRrsG7rc
